certificate-icon {
  position: relative;
  display: inline-block;
  height: 24px;
  margin-left: 12px;
  vertical-align: middle;
  cursor: pointer;

  sign-tooltip {
    display: none;
  }

  &:hover {
    sign-tooltip {
      display: block;
    }
  }
}

sign-tooltip {
  position: absolute;
  width: max-content;
  top: 100%;
  left: -24px;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 100;

  h3 {
    font-size: inherit;
    margin: 4px 0 16px;
  }

  p {
    margin: 8px 0;
    line-height: 1.5;
  }

  strong {
    display: block;
  }
}
